/* Responsiveness of the website  */

@media only screen and (min-width: 768px) and (max-width: 991px){

    .carousel-caption{
        bottom: 130px;
    }
   .carousel-caption p{
    width: 60%;  
}
.card{
    margin-bottom: 100%;
}
.img-area{
    width: 100%;
}

}

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;  
   }
   .carousel-caption p{
    width: 70%;  
    line-height: 1.6;
    font-size: 12px;
}
.button-media {
    /* d-grid gap-2 d-md-flex justify-content-md-end */
    display: grid;
    gap: 2px;
    display: flex;
    justify-content: flex-end;
}
.about-text{
    padding-top: 50px;
}
.card{
    margin-bottom: 30px;
}
}